# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# hide some eclipse stuff
Debug/
Release/

/GazeBrowser/nbproject/qt-Debug.mk
/GazeBrowser/moc_*.cpp
/GazeBrowser/build/
/GazeBrowser/dist/
/GazeBrowser/nbproject/Makefile-*
/GazeBrowser/nbproject/Package-*.bash
/GazeBrowser/nbproject/qt-*.pro
/GazeBrowser/nbproject/private/
/GazeBrowser/qrc_gaze_js.cpp
/GazeLib/build/
/GazeLib/dist/
/GazeLib/nbproject/private/
/GazeLib/nbproject/Makefile-*
/GazeLib/nbproject/Package-*.bash
/GazeTracker/build/
/GazeTracker/dist/
/GazeTracker/nbproject/private/
/GazeTracker/nbproject/Makefile-*
/GazeTracker/nbproject/Package-*
